<foter class="page__footer">
    <div class="insta__image-container">
      <img src="https://picsum.photos/200" alt="insta 1" class="insta__img">
      <img src="https://picsum.photos/200" alt="insta 1" class="insta__img">
      <img src="https://picsum.photos/200" alt="insta 1" class="insta__img">
      <img src="https://picsum.photos/200" alt="insta 1" class="insta__img">
      <img src="https://picsum.photos/200" alt="insta 1" class="insta__img">
    </div>
    <div class="footer-container">
      <div class="footer__contact">
        <h2 class="contact__title">contacta</h2>
        <p class="contact__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat culpa error nostrum maxime laborum?
          Molestias commodi velit quae quibusdam.
        </p>
      </div>
      <div class="footer-social">
        <h2 class="footer-social__title">social</h2>
        <ul class="social__list">
          <li class="social__icon icon-1">
            <i class="fab fa-twitter"></i>
          </li>
          <li class="social__icon icon-2">
            <i class="fab fa-facebook-square"></i>
          </li>
          <li class="social__icon icon-3">
            <i class="fab fa-instagram"></i>
          </li>
        </ul>
      </div>
    </div>
  </foter>
