<header class="page__header">
  <div class="container">
    <nav class="menu__header">
      <i class="fas fa-bars menu-icon"></i>
      <ul class="menu__list">
        <li class="menu__list-item item-1">
          <a href="#Home">Home</a>
        </li>
        <li class="menu__list-item item-2">
          <a href="#Acerca">Acerca de</a>
        </li>
        <li class="menu__list-item item-3">
          <a href="#Japón">Japón</a>
        </li>
      </ul>
      <div class="menu__buttons">
        <a class="menu__buttons-icon" href="#">
          <i class="fas fa-rss"></i>
        </a>
        <a class="menu__buttons-icon" href="#">
          <i class="fas fa-search"></i>
        </a>
      </div>
    </nav>
  </div>
  <div class="page__name">
    <h1 class="page__title">
      <a class="page__link" href="#">Pasaporte en Blanco</a>
    </h1>
    <h2 class="page__subtitle">Viaja, explora...Descubre!</h2>
  </div>
</header>
