<div class="hero">
  <div class="hero__container">
    <div class="hero__image hero__image--big"></div>
    <div class="hero__small">
      <div class="hero__image hero__image--small"></div>
      <div class="hero__image hero__image--small"></div>
    </div>
  </div>
  <div class="featured">
    <div class="featured__container container">
      <h2>Hola k ase!</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem cum molestiae animi deserunt, optio veritatis, minus et, est at vitae mollitia similique laudantium voluptas perferendis quam earum libero eligendi velit.</p>
   </div>
  </div>
</div>
