
<partial src="_hero.html"></partial>

<main class="page__main container">
  <div class="main__container">
    <partial src="_main-articles.html" img="https://picsum.photos/200" title="Japón 1" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem earum, dolore obcaecati repudiandae reprehenderit reiciendis. Quia fugit maiores voluptatum tempora reiciendis eius similique aut minima, dolorem cum fugiat voluptates deleniti?"></partial>
    <partial src="_main-articles.html" img="https://picsum.photos/200" title="Japón 2" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem earum, dolore obcaecati repudiandae reprehenderit reiciendis. Quia fugit maiores voluptatum tempora reiciendis eius similique aut minima, dolorem cum fugiat voluptates deleniti?"></partial>
    <partial src="_main-articles.html" img="https://picsum.photos/200" title="Japón 3" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem earum, dolore obcaecati repudiandae reprehenderit reiciendis. Quia fugit maiores voluptatum tempora reiciendis eius similique aut minima, dolorem cum fugiat voluptates deleniti?"></partial>
  </div>
  <partial src="_main-asides.html"></partial>
</main>
