<div class="asides">
    <aside class="who__info">
      <div class="who__image-container">
        <img src="https://picsum.photos/200" alt="Patri y Jose" class="who__img">
        <h3 class="who__title">Patri y Jose</h3>
        <p class="who__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore laboriosam minus non mollitia veritatis
          maiores illum laborum magnam ipsum nam, iusto in nihil doloremque cupiditate facere fugiat unde velit quam.
        </p>
      </div>
    </aside>
    <aside class="social__info">
      <h3 class="social__title">Social</h3>
      <ul class="social__list">
        <li class="social__icon icon-1">
          <i class="fab fa-twitter"></i>
        </li>
        <li class="social__icon icon-2">
          <i class="fab fa-facebook-square"></i>
        </li>
        <li class="social__icon icon-3">
          <i class="fab fa-instagram"></i>
        </li>
      </ul>
    </aside>
  </div>
