<div class="articles">
  <article class="page__article article-1">
    <div class="article__img-container">
      <img src="@@img" alt="Foto articulo" class="article__img">
      <div class="article__container">
        <h3 class="article__title">@@title</h3>
        <p class="article__text">@@text</p>
        <div class="article__footer">
          <a class="more-info__link" href="" target="_blank"> Ver más</a>
          <span class="article__date">12/12/1999</span>
        </div>
      </div>
    </div>
  </article>
</div>
